@page "/weather"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inherits OwningComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Farenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<h4>claims</h4>

@if (authState != null)
{
    <p>authState not null</p>
    <p>HasClaim: @authState.User</p>
    <p>Count of claims: @authState.User.Claims.Count()</p>
    <p>X-MS-CLIENT-PRINCIPAL-NAME?: @authState.User.HasClaim("name", "X-MS-CLIENT-PRINCIPAL-NAME")</p>
    <p>x-ms-client-principal?: @authState.User.HasClaim("name", "x-ms-client-principal")</p>
    <p>Count of identities: @authState.User.Identities.Count()</p>
    <p>IsAuthenticated: @(authState.User.Identity!.IsAuthenticated)</p>
	<p>Name: @authState.User.Identity!.Name</p>
    <p>Message: @message</p>

    <ul>
        @foreach (var claim in authState.User.Claims)
        {
            <li><strong>Type:</strong> @claim.Type <br /><strong>Value:</strong> @claim.Value</li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}
<hr/>

@code {
    private WeatherForecast[]? forecasts;
    private AuthenticationState authState;
    private MyAuthService? myService { get; set; }

    private string? message;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();

        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        myService = ScopedServices.GetRequiredService<MyAuthService>();
        message = await myService.CheckAuthStatus(AuthenticationStateProvider);
        
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

}
